.CategoryBar{
height: auto;
display: flex;
flex-direction: column;
align-items: center ;
}

.CategoryBar-Img{
 
    width: 60px;

}
.CategoryBar-Img > img{
    width: 100%;

}
.CategoryBar-name{
width: 100%;
font-size: 13px;
font-weight:500px;
padding: 4px 0;
font-weight:bold;
 
    
}