@import url('https://fonts.googleapis.com/css2?family=Jost:wght@700&family=Open+Sans:wght@300&family=Roboto+Flex:opsz,wght@8..144,300&family=Roboto+Mono:wght@300;500;700&family=Roboto:wght@100&family=Urbanist:wght@100;200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto',sans-serif;
}
:root{
    --flipKart-lightBlue: #2874f0;
}